<div>
        <h1 class="gasolinera-atributo">{{gasolineraInput?.rotulo}} </h1>       
        <h3 class="gasolinera-direccion">Dirección: {{gasolineraInput?.direccion}}</h3>
        <h3 class="gasolinera-atributo">Código Postal: {{gasolineraInput?.cP}}</h3>
        <h3 class="gasolinera-atributo">Horario: {{gasolineraInput?.horario}}</h3>
        <h3 class="gasolinera-atributo-">Municipio: {{gasolineraInput?.municipio}}</h3>
        <h3 class="gasolinera-atributo">Código del Municipio: {{gasolineraInput?.idMunicipio}}</h3>
        <h3 class="gasolinera-atributo">Provincia: {{gasolineraInput?.provincia}}</h3>
        <h3 class="gasolinera-atributo">Código de la provincia: {{gasolineraInput?.idProvincia}}</h3>
        <h3 class="gasolinera-atributo">IDEESS: {{gasolineraInput?.ideess}}</h3>
        <h3 class="gasolinera-atributo">IDCCAA: {{gasolineraInput?.idccaa}}</h3>
        <h3 class="gasolinera-atributo">Précio Gasolina95ES: {{gasolineraInput?.precioGasolina95E5}}€</h3>
        <h3 class="gasolinera-atributo">Précio Gasolina 98ES: {{gasolineraInput?.precioGasolina98E5}}€</h3>
        </div>
        
        
        
